


li {
	list-style: none;
}

#projects {
	border: 1px solid black;
	width: 40%;
	margin: 1em;
	position: relative;
	padding-left: 8px;
}

span {
	font-weight: bold;
}

.welcome {
	margin-left: 1em;
	border: 1px solid black;
}

.update {
	width: 100px;
	/*display: block;*/
	border: 1px solid red;
	float: right;
	position: absolute;
	bottom: 8px;
	left: 8px;
}
#actions {
	margin-bottom: 1em;
	font-weight: bold;
}

.delete {
	width: 100px;
	/*display: block;*/
	border: 1px solid blue;
	position: absolute;
	bottom: 8px;
	/*left: 370px;*/
	right: 8px;
	text-align: right;
}

.logout {
	margin-left: 1em;
}

.newproject {
	margin-left: 1em;
}

.new {
	margin: 1em;
}

#actions {
	display: block;
	width: 30px;

}