
#projectul {

	width: 97%;
	margin: 0;
	padding-left: 8px;
}

div#center {
	text-align: center;
	font-weight: bold;
}

div.projects {
	border: 1px solid lightgrey;
	position: relative;
	padding-top: 1em;
	display: inline-block;
	width: 40%;
	margin-bottom: 1em;
	box-sizing: border-box;
}

div.item {
	list-style: none;
	display: inline-block;
	padding-bottom: .25em;
	width: 95%;
	padding-left: 8px;
}

span {
	font-weight: bold;
}

h1.welcome {
	width: 100%;
	text-align: center;
	font-size: 25px;
}

p.welcome {
	margin-bottom: 2em;
	margin-left: 1em;
}

div#center {
	text-align: center;
	font-weight: bold;
	/*color: red;*/
}

.update {
	width: 100px;
	/*display: block;*/
	/*border: 1px solid red;*/
	float: right;
	position: absolute;
	bottom: 8px;
	left: 8px;
	padding-bottom: .5em;
	padding-left: .5em;
}

#actions {
	margin-bottom: 2em;
	font-weight: bold;
}

.delete {
	width: 90px;
	/*display: block;*/
	/*border: 1px solid blue;*/
	position: absolute;
	bottom: 8px;
	/*left: 370px;*/
	right: 8px;
	text-align: right;
	padding-bottom: .5em;
	padding-right: .5em;
}

.logout {
	margin-left: 1em;
}

.newproject {
	margin-left: 1em;
}

.new {
	margin: 1em;
}

#actions {
	display: block;
	width: 30px;

}