

img#head {
	width: 600px;
	height: 600px;
	margin-left: 20%;
}


/*work and about and login | register*/
.navdisplay {
	padding: 0;
	vertical-align: top;
	color: #777a7a;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	box-sizing: border-box;
	margin: 1em;
	height: 2em;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	text-align: center;
    position: relative;
    display: inline-block;
    width: 15%;
    vertical-align: top;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	background-color: white;
	text-align: center;
    display: none;
    border: none;
    position: absolute;
    min-width: 200px;
    z-index: 900;
}

/* Dropdown Button */
.dropbtn {
	background-color: white;
	font-family: 'disco';
	font-size: 18px;
	font-weight: bold;
	width: 200px;
	height: 2em;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: lightgrey;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: #777a7a;
}

input {
	margin: .25em;
	height: 36px;
	width: 180px;
	padding: 2px;
	text-align: center;
	font-size: 16px;
}

button {
	margin: .25em;
	height: 42px;
	width: 90px;
	padding: 2px;
	text-align: center;
	font-size: 12px;
	border: 1px solid lightgrey;
	box-sizing: border-box;
}

h3 {
	margin-bottom: .5em;
	margin-left: 1em;
}

#signupin {
	margin: .5em;
	margin-left: 3em;
	width: 100%;
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
	/*border: 1px solid black;*/
}

#registerwrap {
	width: 54%;
	/*border: 1px solid black;*/
	display: inline-block;
	vertical-align: top;
	padding: .5em;
}

#loginwrap {
	width: 40%;
	/*border: 1px solid black;*/
	display: inline-block;
	vertical-align: top;
	padding: .5em;
}