 <!DOCTYPE html>
<html>
	<% include ../users/headerpartial %>
	</head>
<body>
	<nav id="topnav">
		<div class="dropdown navdisplay"><button class="dropbtn"> Work </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="/eric/bass">G.H. Bass & Co</a>
			    <a href="/eric/tory">Tory Burch</a>
			    <a href="/eric/staGrnwch">STA Greenwich</a>
			    <a href="/eric/staNby">STA Newbury St</a>
			</div>
		</div>
		<div class="dropdown navdisplay"><button class="dropbtn"> About </button>
			<div class="dropdown-content">
		    <a href="/eric/resume">Resume</a>
		    <a href="/eric/allprojects">Personal</a>
			</div>
		</div>
		<div id="right" class="navdisplay dropdown"><button class="dropbtn">
			<a class="link" href="/eric/client"> log in | register </a></button>
		</div>
	</nav>

		
	<p class="welcome">These are all the projects: </p>
			<div>
		<!-- 		<a href="/eric"><p>Projects By User</p></a> -->
				<% for (var i=0; i < projects.length; i++) { %>
							<div>
								<p>Project Name:  <%= projects[i].projectName %></p>
								<p>Project id: <%= projects[i]._id %></p>
					<% } %>

			</div> <!-- end control-panel -->


	
<div id="footerdiv">
<footer>
	<% include ../users/footerpartial %>
</footer>
</div>
</body>
</html>