<!DOCTYPE html>
<html>
	<% include ../users/headerpartial %>
	<link rel="stylesheet" type="text/css" href="/css/show.css">
	</head>
<body>
	<nav>
		<div class="dropdown navdisplay"><button class="dropbtn"> Work </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="/eric/bass">G.H. Bass & Co</a>
			    <a href="/eric/tory">Tory Burch</a>
			    <a href="/eric/staGrnwch">STA Greenwich</a>
			    <a href="/eric/staNby">STA Newbury St</a>
			</div>
		</div>

		<div class="dropdown navdisplay"><button class="dropbtn"> About </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="/projects">Projects</a>
			</div>
		</div>

		<div class="dropdown navdisplay"><button class="dropbtn"><a class="link" href="/eric"> Home </a></button>
		</div>


		<div id="right" class="navdisplay dropdown"><button class="dropbtn">
			<a class="link" href="/eric/client"> log in | register </a></button>
		</div>
	</nav>

	


<h1>Add a new project</h1>
	<form action="/eric/<%= users.id %>/newproject" method="POST">
		<input type="text" name="projectName" placeholder="projectName"></br>
		<input type="text" name="startDate" placeholder="startDate"></br>
		<input type="text" name="quote" placeholder="quote"></br>
		<input type="text" name="timeline" placeholder="timeline"></br>
		<input type="text" name="details" placeholder="details"></br>
		<input type="submit">
	</form>
<footer>
	<nav>
		<% include ../users/footerpartial %>
	</nav>
</footer>
</body>
</html>
