<ul id="footerul">
	<li class="footeritem"><a class="link" href='#'> G.H. Bass & Co </a></li>
	<li class="footeritem"><a class="link" href='#'> Tory Burch </a></li>
	<li class="footeritem"><a class="link" href='#'> STA </a></li>
	<!-- <li class="footeritem"><a class="link" href='#'> d </a></li> -->

	<li class="footeritem">
		<div class="sprites"><a id="sprite1" class="link sprites" href="http://www.pinterest.com/erewilak"></a></div>
		<div class="sprites"><a id="sprite2" class="link sprites" href="https://www.linkedin.com/in/eric-rewilak-0a42514"></a></div>
		<div class="sprites"><a id="sprite3" class="link sprites" href="http://www.twitter.com/"></a></div>
		<div class="sprites"><a id="sprite4" class="link sprites" href="http://www.flikr.com/"></a></div>
		<div class="sprites"><a id="sprite5" class="link sprites" href="https://www.facebook.com/toryburch/"></a></div>
	</li>
</ul>