<ul id="footerul">
	<li class="footeritem"><a class="link" href='#'> a </a></li>
	<li class="footeritem"><a class="link" href='#'> b </a></li>
	<li class="footeritem"><a class="link" href='#'> c </a></li>
	<li class="footeritem"><a class="link" href='#'> d </a></li>
	<li class="footeritem"><a class="link" href='#'> e </a></li>
	<li class="footeritem">
		<div class="sprites" id="sprite1"><a class="link" href="http://www.pinterest.com/"></a></div>
		<div class="sprites" id="sprite2"><a class="link" href="http://www.linkedin.com/"></a></div>
		<div class="sprites" id="sprite3"><a class="link" href="http://www.twitter.com/"></a></div>
		<div class="sprites" id="sprite4"><a class="link" href="http://www.flikr.com/"></a></div>
		<div class="sprites" id="sprite5"><a class="link" href="http://www.facebook.com/"></a></div>
	</li>
</ul>