<ul id="footerul">
	<li class="footeritem"><a class="link" href='#'> a </a></li>
	<li class="footeritem"><a class="link" href='#'> b </li>
	<li class="footeritem"><a class="link" href='#'> c </a></li>
	<li class="footeritem"><a class="link" href='#'> d </a></li>
	<li class="footeritem"><a class="link" href='#'> e </a></li>

	<li class="footeritem">
		<div class="sprites"><a href="http://www.pinterest.com/"><i id="sprite1"></i></a></div>
		<div class="sprites"><a href="http://www.linkedin.com/"><i id="sprite2"></i></a></div>
		<div class="sprites"><a href="http://www.twitter.com/"><i id="sprite3"></i></a></div>
		<div class="sprites"><a href="http://www.flikr.com/"><i id="sprite4"></i></a></div>
		<div class="sprites"><a href="http://www.facebook.com/"><i id="sprite5"></i></a></div>
	</li>

</ul>