
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="css/partials/footerpartial.css">
		<link rel="stylesheet" type="text/css" href="css/partials/headerpartial.css">
	<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<title> Eric T Rewilak </title>
</head>

<body>
	<ul>
		<li id="left"><a class="link" href="#"></a>resume</li>
		<li id="right"><a class="link" href="/eric/client"> log in | register </a></li>
	</ul>