
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/partials/footerpartial.css">
	<link href="/photos/red32.ico" rel="shortcut icon" type="image/x-icon" />
	<title> Eric T Rewilak </title>


