
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/partials/footerpartial.css">
	<link href='https://fonts.googleapis.com/css?family=Quicksand|Poppins:400,300|Jura:400,500|Syncopate|Ek+Mukta:400,200' rel='stylesheet' type='text/css'>
	<link href="/photos/red32.ico" rel="shortcut icon" type="image/x-icon" />
	<link href='https://cloudinary.com/console/media_library#/dialog/raw/upload/DISCO_crjjbw.ttf' rel="shortcut icon" type="image/x-icon" />
	<title> Eric T Rewilak </title>


