<!DOCTYPE html>
<html>
	<% include ./headerpartial %>
<body>
	<nav>
		<ul id="navul">
			<li id="left"><a class="link" href="/eric/resume"> resume </a></li>
			<li id="right"><a class="link" href="/eric/client"> log in | register </a></li>
		</ul>
	</nav>
	<div class="wrap">
		<div><img src='/photos/er1.png'></div>
		<div><img src='/photos/er2.png'></div>
		<div><img src='/photos/er3.png'></div>
		<div><img src='/photos/er4.png'></div>
		<div><img src='/photos/er5.png'></div>
	</div>

<footer>
	<% include ./footerpartial %>
</footer>
</body>
</html>