	<!DOCTYPE html>
<html>
<head>
	<% include ./headerpartial %>
<div class="wrap">
		<div><img src='/photos/er1.png'></div>
		<div><img src='/photos/er2.png'></div>
		<div><img src='/photos/er3.png'></div>
		<div><img src='/photos/er4.png'></div>
		<div><img src='/photos/er5.png'></div>

</div>

<footer>
<nav>
	<% include ./footerpartial %>
</nav>
</footer>
</body>
</html>