<!DOCTYPE html>
<html>
	<% include ./headerpartial %>
	</head>
<body>
	<nav id="topnav">
		<div class="dropdown navdisplay"><button class="dropbtn"> Work </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="/eric/bass">G.H. Bass & Co</a>
			    <a href="/eric/tory">Tory Burch</a>
			    <a href="/eric/staGrnwch">STA Greenwich</a>
			    <a href="/eric/staNby">STA Newbury St</a>
			</div>
		</div>
			<div class="dropdown navdisplay"><button class="dropbtn"> About </button>
				<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="#">Personal</a>
			</div>
		</div>
		<div id="right" class="navdisplay dropdown"><button class="dropbtn">
			<a class="link" href="/eric/client"> log in | register </a></button>
		</div>
	</nav>
	<div id="homewrapper">
		<div id='ericwrapper'>
			<div id="eric">
				<div><img class="index" src='/photos/homepage/er1.jpg'></div>
			</div>
		</div>
		<div id="imgwrapper">
			<div class="wrap">
				<div><img class="index" src='/photos/homepage/basslogo.png'></div>
				<div><img class="index" src='/photos/homepage/penny.png'></div>
				<div><img class="index" src='/photos/homepage/weejuns.png'></div>
				<div><img class="index" src='/photos/homepage/blacksta.png'></div>
				<div><img class="index" src='/photos/homepage/jeopardy.png'></div>
				<div><img class="index" src='/photos/homepage/torylogo.png'></div>
				<div><img class="index" src='/photos/homepage/whitesta.png'></div>
			</div>
			
		</div>
	
	</div>
	
<div id="footerdiv">
<footer>
	<% include ./footerpartial %>
</footer>
</div>
</body>
</html>