<!DOCTYPE html>
<html>
	<% include ./headerpartial %>
	</head>
<body>
	<nav id="topnav">
		<div class="dropdown navdisplay"><button class="dropbtn"> Work </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="/eric/bass">G.H. Bass & Co</a>
			    <a href="/eric/tory">Tory Burch</a>
			    <a href="/eric/staGrnwch">STA Greenwich</a>
			    <a href="/eric/staNby">STA Newbury St</a>
			</div>
		</div>
		<div class="dropdown navdisplay"><button class="dropbtn"> About </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
				<a href="/projects">Projects</a>
			</div>

		</div>
		<div id="right" class="navdisplay dropdown"><button class="dropbtn">
			<a class="link" href="/eric/client"> log in | register </a></button>
		</div>
	</nav>
	<div id="homewrapper">
		<div id='ericwrapper'>
			<div id="eric">
				<div><img class="index" src='http://res.cloudinary.com/embot415/image/upload/v1456346415/er1_jh505h.jpg'></div>
			</div>
		</div>
		<div id="imgwrapper">
			<div class="wrap">
				<div><img class="index" src='http://res.cloudinary.com/embot415/image/upload/v1456346416/basslogo_jmhbqf.png'></div>
				<div><img class="index" src='http://res.cloudinary.com/embot415/image/upload/v1456346416/penny_wytnum.png'></div>
				<div><img class="index" src='http://res.cloudinary.com/embot415/image/upload/v1456346416/weejuns_by8qqd.png'></div>
				<div><img class="index" src='/http://res.cloudinary.com/embot415/image/upload/v1456346415/blacksta_aaxo9f.png'></div>
				<div><img class="index" src='http://res.cloudinary.com/embot415/image/upload/v1456346416/jeopardy_bmskdu.png'></div>
				<div><img class="index" src='http://res.cloudinary.com/embot415/image/upload/v1456346415/torylogo_p6ptfu.png'></div>
				<div><img class="index" src='https://cloudinary.com/console/media_library#/dialog/image/upload/whitesta_we6orz'></div>
			</div>
			
		</div>
	
	</div>
	
<div id="footerdiv">
<footer>
	<% include ./footerpartial %>
</footer>
</div>
</body>
</html>