<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<title></title>
</head>
<body>
	<h1>create a new user</h1>
	<form action="/users" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="password" placeholder="password">
		<button>Create</button>
	</form>

	<h1>log in</h1>
	    <!-- LOGIN FORM -->
	<form class="form" action="/users/:id" method="post">
	<div class="form">
	<label>Email</label>
	<input type="text" class="form" name="email">
	</div>
	<div class="form">
	<label>Password</label>
	<input type="password" class="form" name="password">
	</div>

	<button type="submit" class="form">Login</button>
	</form>

<hr>

<a  class="link" href="/users">users home</a>
</body>
</html>