
<!DOCTYPE html>
<html>
	<% include ./headerpartial %>
<body>
	<nav>
		<ul id="navul">
			<li id="left"><a class="link" href="/eric"> home </a></li>
			<li id="right"><a class="link" href="/eric/client"> log in | register </a></li>

		</ul>
	</nav>
	<div id="resume">
		<!-- <object data="/photos/erResume.pdf"></object> -->
		<!-- <img src="/photos/IMG_7087.JPG"> -->
		 <embed src="/photos/erResume.pdf" width="950" height="750"></embed>
	</div>

<footer>
	<% include ./footerpartial %>
</footer>
</body>
</html>