<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<title></title>
</head>
<body>
	<h1>this is the users show page</h1>
		<p>This is the users id: <%= users.id %></p></br>
		<p>This is the users name: <%= users.username %></p></br>
		<p>This is the users email: <%= users.email %></p></br>
		<p>This is the users password: <%= users.password %></p></br>

		<a class="link" href="/users/logout">Logout</a></br>


</body>
</html>