<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<title></title>
</head>
<body>
	<h1>this is the users show page</h1>

		<p><%= users.username %></p>
		<p><%= users.email %></p>
		<p><%= users.password %></p>


		<a class="link" href="/users">users home</a></br>

		<a class="link" href="/users/new">create a new user</a>
</body>
</html>