
<!DOCTYPE html>
<html>
	<% include ./headerpartial %>
	<link rel="stylesheet" type="text/css" href="/css/sta.css">
	</head>
<body>
	<nav>
		<div class="dropdown navdisplay"><button class="dropbtn"> Work </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="/eric/bass">G.H. Bass & Co</a>
			    <a href="/eric/tory">Tory Burch</a>
			    <a href="/eric/staGrnwch">STA Greenwich</a>
			    <a href="/eric/staNby">STA Newbury St</a>
			</div>
		</div>

		<div class="dropdown navdisplay"><button class="dropbtn"> About </button>
			<div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="/projects">Projects</a>
			</div>
		</div>

		<div class="dropdown navdisplay"><button class="dropbtn"><a class="link" href="/eric"> Home </a></button>
		</div>

		<div id="right" class="navdisplay dropdown"><button class="dropbtn">
			<a class="link" href="/eric/client"> log in | register </a></button>
		</div>
	</nav>
<body>

<article class="wrap">
	<section id="header">
		<label for="slide-1-trigger">1</label>
		<label for="slide-2-trigger">2</label>
		<label for="slide-3-trigger">3</label>
		<label for="slide-4-trigger">4</label>
		<label for="slide-5-trigger">5</label>
		<label for="slide-6-trigger">6</label>
		<label for="slide-7-trigger">7</label>
		<label for="slide-8-trigger">8</label>
		<label for="slide-9-trigger">9</label>
		<label for="slide-10-trigger">10</label>
		<label for="slide-11-trigger">11</label>
		<label for="slide-12-trigger">12</label>
	</section>
	
	<section id="pictures">

		<input id="slide-1-trigger" type="radio" name="slides" checked>
		<section class="slide slide-one">
		</section>
		<input id="slide-2-trigger" type="radio" name="slides">
		<section class="slide slide-two">
		</section>
		<input id="slide-3-trigger" type="radio" name="slides">
		<section class="slide slide-three">
		</section>
		<input id="slide-4-trigger" type="radio" name="slides">
		<section class="slide slide-four">
		</section>
		<input id="slide-5-trigger" type="radio" name="slides">
		<section class="slide slide-five">
		</section>
		<input id="slide-6-trigger" type="radio" name="slides">
		<section class="slide slide-six">
		</section>
		<input id="slide-7-trigger" type="radio" name="slides">
		<section class="slide slide-seven">
		</section>
		<input id="slide-8-trigger" type="radio" name="slides">
		<section class="slide slide-eight">
		</section>
		<input id="slide-9-trigger" type="radio" name="slides">
		<section class="slide slide-nine">
		</section>
		<input id="slide-10-trigger" type="radio" name="slides">
		<section class="slide slide-ten">
		</section>
		<input id="slide-11-trigger" type="radio" name="slides">
		<section class="slide slide-eleven">
		</section>
		<input id="slide-12-trigger" type="radio" name="slides">
		<section class="slide slide-twelve">
		</section>
	</section>
</article>

<footer>
	<nav>
		<% include ./footerpartial %>
	</nav>
</footer>
</body>
</html>