<!DOCTYPE html>
<html>
	<% include ./headerpartial %>
<body>
		<ul>
			<li id="left"><a class="link" href="#"> resume </a></li>
			<li id="right"><a class="link" href="/eric"> home </a></li>
		</ul>
	<div id="registerwrap">
	register
		<form id="register" action="/eric" method="POST">
			<input class="register" type="text" name="username" placeholder="username">
			<input class="register" type="text" name="email" placeholder="email">
			<input class="register" type="text" name="password" placeholder="password">
			<button class="register" type="submit">Create</button>
		</form>
	</div>
	
	<div id="loginwrap">
	log in
	  <form id="login" action="/eric/login" method="POST">
	    <input class="login" type="text" name="email" placeholder="email">
	    <input class="login" type="password" name="password" placeholder="password">
	    <button class="login" type="submit">Login</button>
	  </form>
	</div>

	<hr>
	<div id='imgwrapper'>
		<img src="/photos/IMG_7087.JPG">
	</div>
	<footer>
		<% include ./footerpartial %>
	</footer>
</body>
</html>