<!DOCTYPE html>
<html>
	<% include ./headerpartial %>
<body>
		<ul id="navul">
		  <li id="dropdown"><div class="dropdown">
			  <button class="dropbtn"> Work </button>
			  <div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="#">G.H. Bass & Co</a>
			    <a href="#">Tory Burch</a>
			    <a href="#">STA</a>
			  </div></li>
			</div>
			<li id="dropdown"><div class="dropdown">
			  <button class="dropbtn"> About </button>
			  <div class="dropdown-content">
			    <a href="/eric/resume">Resume</a>
			    <a href="#">Personal</a>
			  </div></li>
			</div>
		<li id="right"><a class="link" href="/eric"> home </a></li>
	</ul>
	<div id="signupin">
		<div id="loginwrap">
		<h3> log in </h3>
		  <form id="login" action="/eric/login" method="POST">
		    <input class="login" type="text" name="email" placeholder="email">
		    <input class="login" type="password" name="password" placeholder="password">
		    <button class="login" type="submit">LOGIN</button>
		  </form>
		</div>

		<div id="registerwrap">
		<h3> register </h3>
		<form id="register" action="/eric" method="POST">
			<input class="register" type="text" name="username" placeholder="username">
			<input class="register" type="text" name="email" placeholder="email">
			<input class="register" type="text" name="password" placeholder="password">
			<button class="register" type="submit">REGISTER</button>
		</form>
		</div>

		<!-- <hr> -->
		<div id='imgwrapper'>
			<img id="head" src="/photos/IMG_7087.JPG">
		</div>
	</div>
	<footer>
		<% include ./footerpartial %>
	</footer>
</body>
</html>