#footerul{
	width: 10em;
	height: 20px;
	display: block;
	list-style: none;
	float: right;
	/*border: 1px solid black;*/
	vertical-align: top;
	margin: 1em;
}

.sprites {
	overflow: hidden;
	display: inline-block;
}

#sprite1 {
	/*border: 1px solid black;*/
	background-image: url("/sprites/sprites.png");
	width: 20px;
	height: 20px;
	display: inline-block;
	background-position-x:236px;
	background-position-y:604px;
}

#sprite2 {
	background-image: url("/sprites/sprites.png");
	width: 20px;
	height: 20px;
	display: inline-block;
	background-position-x:277px;
	background-position-y:604px;
}

#sprite3 {
	background-image: url("/sprites/sprites.png");
	width: 20px;
	height: 20px;
	display: inline-block;
	background-position-x:563px;
	background-position-y:604px;
}

#sprite4 {
	background-image: url("/sprites/sprites.png");
	width: 20px;
	height: 20px;
	display: inline-block;
	background-position-x:398px;
	background-position-y:604px;
}

#sprite5 {
	background-image: url("/sprites/sprites.png");
	width: 20px;
	height: 20px;
	display: inline-block;
	background-position-x:438px;
	background-position-y:604px;
}



